<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title><?php echo A('title', 'My website') ?></title>
    
<?php
foreach (A('styles', array()) as $style) {
?>
    <link rel="stylesheet" type="text/css" href="<?php echo Atomik::appAsset($style) ?>" />
<?php
}
?>

    <link href="<?php echo Atomik::appAsset('favicon.ico');?>" type="image/x-icon" rel="icon" />
    <link href="<?php echo Atomik::appAsset('favicon.ico');?>" type="image/x-icon" rel="shortcut icon" />    
 
    <script type="text/javascript" src="<?php echo Atomik::appAsset('assets/js/head.load.min.js') ?>"></script>
  </head>
  <body>
<div id="main">
	<div id="header">
		<a href="<?php echo Atomik::url('/');?>" class="logo"><?php echo A('title');?></a>
    <h4><?php echo A('company');?></h4>
		<ul id="top-navigation">
			<li class="active"><span><span><a href="<?php echo Atomik::url('/');?>">Inicio</a></span></span></li>
<?php
if ($this->logged()) {
?>
			<li><span><span><a href="<?php echo Atomik::url('/logout');?>">Salir</a></span></span></li>
<?php
}
?>
      <!--
			<li><span><span><a href="#">Otro menú</a></span></span></li>
			<li><span><span><a href="#"></a></span></span></li>
			<li><span><span><a href="#"></a></span></span></li>
			<li><span><span><a href="#"></a></span></span></li>
			<li><span><span><a href="#"></a></span></span></li>
			<li><span><span><a href="#"></a></span></span></li>
      -->
		</ul>
	</div>
	<div id="middle">
    <?php echo $contentForLayout;?>
    <ul id="messages">
      <?php foreach (A('flash:all') as $label => $messages): ?>
        <?php foreach ($messages as $message): ?>
          <li class="<?php echo $label ?>"><?php echo $message ?></li>
        <?php endforeach; ?>
      <?php endforeach; ?>
    </ul>
    <div align="center">
<?php 
if ($this->logged()) {
?>
      Usuario: <?php echo A('session/user/name');?>
      <br />
<?php 
}
?>
      Copyright <?php echo date('Y');?>
      <br />
      <?php echo A('company');?>
    </div>
	</div>
	<div id="footer"></div>
</div>
    <script type="text/javascript">
head.js(<?php
$scripts = A('scripts', array());
for  ($i = 0; isset($scripts[$i]); $i++) {
  if ($i != 0)
    echo ',';
  echo '"'.Atomik::appAsset($scripts[$i]).'"';
}
?>);
    </script>
</body>
</html>
