<?php
if($isNotXls) {
?>
  <div id="left-column">
    <h3>Items</h3>
    <ul class="nav">
<?php
      $this->item_menu('Inicio');
?>
    </ul>
    <!--
    <a href="#" class="link">Link here</a>
    <a href="#" class="link">Link here</a>
    -->
  </div>
  <div id="center-column">
    <div class="top-bar">
      <!-- <a href="#" class="button">ADD NEW </a> -->
      <h1>Artículos</h1>
      <!--div class="breadcrumbs"><a href="#">Incicio</a> / <a href="#">Contents</a></div-->
      <div class="breadcrumbs">
        &gt; <a href="<?php echo Atomik::url('/');?>">Inicio</a>
        &gt; <a href="<?php echo Atomik::url('/articulos');?>">Artículos</a>
      </div>
    </div><br />
    <a href="<?php echo Atomik::url('/articulos.xls');?>"
     title="Excel"><img src="<?php echo Atomik::appAsset('/assets/images/excel_icon.gif');?>" alt="Excel" /></a>
<?php
}
    if($isNotXls) {
?>
    <div>
<?php
}
?>
<table>
  <tr>
    <th>c&oacute;digo</th>
    <th>abrev</th>
    <th>codsisant</th>
    <th>nombre</th>
  </tr>
<?php
foreach ($articulos as $articulo) {
?>
  <tr>
    <td><?php echo $articulo['Articulo'];?></td>
    <td><?php echo $articulo['nomabr'];?></td>
    <td><?php echo $articulo['CodigoSisAnt'];?></td>
    <td><?php echo htmlentities($articulo['nombre'], ENT_COMPAT, 'UTF-8');?></td>
  </tr>
<?php
}
?>
</table>
<?php
if($isNotXls) {
?>
    </div>
  </div>
  <div id="right-column">
    <strong class="h">INFO</strong>
    <div class="box">Listado de artículos</div>
  </div>
<?php
}
