<?php
if($isNotXls) {
?>
  <div id="left-column">
    <h3>Items</h3>
    <ul class="nav">
<?php
      $this->item_menu('Inicio');
?>
    </ul>
  </div>
  <div id="center-column">
    <div class="top-bar">
      <h1>Artículo producido</h1>
      <div class="breadcrumbs">
        &gt; <a href="<?php echo Atomik::url('/');?>">Inicio</a>
        &gt; <a href="<?php echo Atomik::url('/artProducido');?>">Artículo producido</a>
<?php
  if ($serie != '') {
?>
        &gt; <a href="<?php echo Atomik::url('/artProducido/'.$serie);?>"><?php echo $serie;?></a>
<?php
  }
?>
      </div>
    </div><br />
<?php
  if ($serie != '') {
?>
    <a href="<?php echo Atomik::url('/artProducido/'.$serie.'.xls');?>"
     title="Excel"><img src="<?php echo Atomik::appAsset('/assets/images/excel_icon.gif');?>" alt="Excel" /></a>
<?php
  }
?>
    <form>
      <label for="serie">Número de serie:</label>
      <input type="text" class="focus" name="serie" id="serie" value="<?php echo $serie;?>" />
      <input type="submit" value="Enviar" />
    </form>
<?php
}
?>
<?php
if (isset($rs))
  if (!isset($rs[0])) {
    if($isNotXls) {
?>
      <p>No hay registros para ese número de serie.</p>
<?php
    }
  }
  else {
    if($isNotXls) {
?>
    <div>
<?php
    }
?>
  <table>
    <tr>
      <th>&nbsp;</th>
<?php
    foreach ($rs[0] as $k=>$col) {
      if (!is_numeric($k) && $k != 'FechaAlta') {
?>
      <th><?php echo $k;?></th>
<?php
      }
    }
?>
    </tr>
<?php
    $i = 1;
    foreach ($rs as $s) {
?>
    <tr>
      <th><?php echo $i++;?></th>
<?php
      foreach ($s as $k=>$col) {
        if (!is_numeric($k) && $k != 'FechaAlta') {
          if ($k == 'Despacho') {
            if ($col == '1A' || $col == '0000000')
              $col = '';
            else
              if ($col != '')
                $col = '<a href="'.Atomik::url('/despacho/'.$col).'">'.$col.'</a>';
          }
          if ($k == 'NroSerie') {
            if ($col != '0000000') {
              if ($isNotXls)
                $col = '<a href="'.Atomik::url('/artProducido/'.$col).'">'.$col.'</a>';
            }
            else
              $col = '';
          }
?>
        <td><?php echo $col;?></td>
<?php
        }
      }
?>
    </tr>
<?php
    }
?>
  </table>
<?php
    if($isNotXls) {
?>
    </div>
<?php
    }
  }
if($isNotXls) {
?>
  </div>
  <div id="right-column">
    <strong class="h">INFO</strong>
    <div class="box">Análisis de artículo producido</div>
  </div>
<?php
}
?>
