<?php
if($isNotXls) {
?>
  <div id="left-column">
    <h3>Items</h3>
    <ul class="nav">
<?php
      $this->item_menu('Inicio');
?>
    </ul>
  </div>
  <div id="center-column">
    <div class="top-bar">
      <h1>Despachos</h1>
      <div class="breadcrumbs">
        &gt; <a href="<?php echo Atomik::url('/');?>">Inicio</a>
        &gt; <a href="<?php echo Atomik::url('/despachos');?>">Despachos</a>
      </div>
    </div><br />
    <a href="<?php echo Atomik::url('/despachos.xls');?>"
     title="Excel"><img src="<?php echo Atomik::appAsset('/assets/images/excel_icon.gif');?>" alt="Excel" /></a>
<?php
}
?>
<?php
  if (!isset($despachos[0])) {
    if($isNotXls) {
?>
      <p>No hay registros.</p>
<?php
    }
  }
  else {
    if($isNotXls) {
?>
    <div>
<?php
    }
?>
  <table> <tr>
      <th>&nbsp;</th>
      <th>Despacho</th>
      <th>Fecha Alta</th>
      <th>Fecha Mod.</th>
    </tr>
<?php
    $i = 1;
    foreach ($despachos as $d) {
      $fechaAlta = DateTime::createFromFormat('Y-m-d H:i:s.u', $d['FechaAlta']);
      $fechaMod  = DateTime::createFromFormat('Y-m-d H:i:s.u', $d['FechaMod' ]);
?>
      <tr>
        <th><?php echo $i++;?></th>
        <td>
        <?php
        if ($isNotXls) {
?>
          <a href="<?php echo Atomik::url('/despacho/'.$d['Despacho']);?>"
           ><?php echo $d['Despacho'];?></a>
<?php
        }
        else
           echo $d['Despacho'];
?>
        </td>
        <td>
          <?php echo $fechaAlta->format('d-m-Y H:i');?>
        </td>
        <td>
          <?php echo $fechaMod ->format('d-m-Y H:i');?>
        </td>
    </tr>
<?php
    }
?>
  </table>
<?php
    if($isNotXls) {
?>
    </div>
<?php
    }
  }
if($isNotXls) {
?>
  </div>
  <div id="right-column">
    <strong class="h">INFO</strong>
    <div class="box">Listado de despachos</div>
  </div>
<?php
}
?>
