<?php
if($isNotXls) {
?>
  <div id="left-column">
    <h3>Items</h3>
    <ul class="nav">
<?php
      $this->item_menu('Inicio');
?>
    </ul>
  </div>
  <div id="center-column">
    <div class="top-bar">
      <h1>Despacho</h1>
      <div class="breadcrumbs">
        &gt; <a href="<?php echo Atomik::url('/');?>">Inicio</a>
        &gt; <a href="<?php echo Atomik::url('/despachos');?>">Despachos</a>
        &gt; <a href="<?php echo Atomik::url('/despacho/'.$desp);?>"><?php echo $desp;?></a>
      </div>
    </div><br />
    <a href="<?php echo Atomik::url('/despacho/'.$desp.'.xls');?>"
     title="Excel"><img src="<?php echo Atomik::appAsset('/assets/images/excel_icon.gif');?>" alt="Excel" /></a>
<?php
}
?>
<?php
  if (!isset($despacho[0]) || !isset($articulos[0])) {
    if($isNotXls) {
?>
      <p>No hay registros.</p>
<?php
    }
  }
  else {
    if($isNotXls) {
?>
    <div>
<?php
    }
?>
  <table>
    <tr>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>Despacho</th>
      <th>Fecha Alta</th>
      <th>Fecha Mod.</th>
    </tr>
<?php
    $d = $despacho[0];
    $fechaAlta = DateTime::createFromFormat('Y-m-d H:i:s.u', $d['FechaAlta']);
    $fechaMod  = DateTime::createFromFormat('Y-m-d H:i:s.u', $d['FechaMod' ]);
?>
    <tr>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <td><?php echo $d['Despacho'];?></td>
      <td>
        <?php echo $fechaAlta->format('d-m-Y H:i');?>
      </td>
      <td>
        <?php echo $fechaMod ->format('d-m-Y H:i');?>
      </td>
    </tr>
<?php
    if (isset($articulos[0])) {
?>
      <tr>
        <th>&nbsp;</th>
        <th>Cod</th>
        <th>Abr</th>
        <th>Nombre</th>
        <th>Cantidad</th>
      </tr>
<?php
      $i = $total = 0;
      foreach ($articulos as $art) {
        $total += (int)$art['cuenta'];
?>
        <tr>
          <th><?php echo ++$i;?></th>
          <td><?php echo $art['CodArticulo'];?></td>
          <td><?php echo $art['CodigoSisAnt'].' - '.$art['NomAbr'];?></td>
          <td><?php echo $art['Articulo'];?></td>
          <td><?php echo (int)$art['cuenta'];?></td>
        </tr>
<?php
      }
?>
      <tr>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th><?php echo $total;?></th>
      </tr>
<?php
    }
?>
  </table>
<?php
    if($isNotXls) {
?>
    </div>
<?php
    }
  }
if($isNotXls) {
?>
  </div>
  <div id="right-column">
    <strong class="h">INFO</strong>
    <div class="box">Detalle de despacho</div>
  </div>
<?php
}
?>
