<?php
if($isNotXls) {
?>
  <div id="left-column">
    <h3>Items</h3>
    <ul class="nav">
<?php
      $this->item_menu('Inicio');
?>
    </ul>
    <!--
    <a href="#" class="link">Link here</a>
    <a href="#" class="link">Link here</a>
    -->
  </div>
  <div id="center-column">
    <div class="top-bar">
      <!-- <a href="#" class="button">ADD NEW </a> -->
      <h1>Dispositivos / Imprimir</h1>
      <!--div class="breadcrumbs"><a href="#">Incicio</a> / <a href="#">Contents</a></div-->
      <div class="breadcrumbs">
        &gt; <a href="<?php echo Atomik::url('/');?>">Inicio</a>
        &gt; <a href="<?php echo Atomik::url('/dispositivos');?>">dispositivos</a>
      </div>
    </div><br />
    <a href="<?php echo Atomik::url('/dispositivos.xls');?>"
     title="Excel"><img src="<?php echo Atomik::appAsset('/assets/images/excel_icon.gif');?>" alt="Excel" /></a>
<?php
}
    if($isNotXls) {
?>
    <div>
<?php
}
?>
<table>
  <tr>
    <th>nro</th>
    <th>IP</th>
    <th>puerto</th>
    <th>nombre</th>
  </tr>
<?php
foreach ($dispositivos as $articulo) {
  $nro = $articulo['NroDispositivo'];
?>
  <tr>
    <td><?php echo $nro;?></td>
    <td><?php echo $articulo['IPDispositivo'];?></td>
    <td><?php echo $articulo['Puerto'];?></td>
    <td><?php echo $articulo['Descripcion'];?></td>
<?php
  if ($articulo['Tipo'] == 2) {
?>
    <td>
      <a href="<?php echo Atomik::url('/imprimir/'.$nro);?>"
       >[imprimir]</a>
    </td>
<?php
  }
  else {
?>
    <td>&nbsp;</td>
<?php
  }
?>
  </tr>
<?php
}
?>
</table>
<?php
if($isNotXls) {
?>
    </div>
  </div>
  <div id="right-column">
    <strong class="h">INFO</strong>
    <div class="box">Listado de dispositivos e impresión</div>
  </div>
<?php
}
