  <div id="left-column">
    <h3>Items</h3>
    <ul class="nav">
<?php
      $this->item_menu('Inicio');
?>
    </ul>
  </div>
  <div id="center-column">
    <div class="top-bar">
      <h1>Estado 5</h1>
      <div class="breadcrumbs">
        &gt; <a href="<?php echo Atomik::url('/');?>">Inicio</a>
        &gt; <a href="<?php echo Atomik::url('/estado5');?>">Estado 5</a>
<?php
if ($id != '') {
?>
        &gt; <a href="<?php echo Atomik::url('/estado5/'.$id);?>"><?php echo $id;?></a>
<?php
}
?>
      </div>
    </div>
    <form>
      <label for="id">idIntercambio:</label>
      <input type="text" class="focus" name="id" id="id" value="<?php echo $id;?>" />
      <input type="submit" value="Enviar" />
    </form>
<?php
if (isset($rs))
  if (!isset($rs[0])) {
?>
    <p>No hay registros para ese idIntercambio.</p>
<?php
  }
  else {
?>
    <div>
  <table>
    <tr>
      <th>&nbsp;</th>
<?php
  foreach ($rs[0] as $k=>$col) {
    if (!is_numeric($k)) {
?>
      <th><?php echo $k;?></th>
<?php
    }
  }
?>
    </tr>
<?php
  $i = 1;
  foreach ($rs as $s) {
?>
    <tr>
      <th><?php echo $i++;?></th>
<?php
    foreach ($s as $k=>$col) {
      if (!is_numeric($k)) {
?>
        <td><?php echo $col;?></td>
<?php
      }
    }
?>
    </tr>
<?php
  }
?>
  </table>
    </div>
<?php
}
?>
  </div>
  <div id="right-column">
    <strong class="h">INFO</strong>
    <div class="box">Análisis según estado 5</div>
  </div>
