<div id="left-column">
  <h3>Items</h3>
  <ul class="nav">
<?php
    $this->item_menu('Inicio');
?>
  </ul>
</div>
<div id="center-column">
  <div class="top-bar">
    <h1>Imprimir</h1>
    <div class="breadcrumbs">
      &gt; <a href="<?php echo Atomik::url('/');?>">Inicio</a>
      &gt; <a href="<?php echo Atomik::url('/dispositivos');?>">Dispositivos</a>
      &gt; <a href="<?php echo Atomik::url('/imprimir/'.$id);?>">Imprimir</a>
    </div>
  </div>
  <div>
    <h3>
      <?php echo $id;?>
      -
      <?php echo $impresora['Descripcion'];?>
    </h3>
    <h4>
      <a href="<?php echo Atomik::url('/imprimirProd/'.$id);?>"
       >&gt; Imprimir orden de producción &lt;</a>
    </h4>
    <form method="post" class="alta no-enter">
      <label for="dispositivo">Impresora:</label>
      <select name="dispositivo" id="dispositivo" tabindex="0">
<?php
foreach($dispositivos as $dis) {
  $sel = $dis['id'] == $id? ' selected="selected"': '';
?>
        <option<?php echo $sel; ?> value="<?php echo $dis['id']; ?>"
         ><?php echo $dis['id'] . ' - ' . $dis['descr']; ?></option>
<?php
}
?>
      </select>
      <label for="formato">Formato de impresión:</label>
      <select name="formato" id="formato" tabindex="0">
<?php
foreach($formatos as $k=>$f) {
  $def = $k == $formato? ' selected="selected"': '';
?>
        <option<?php echo $def;?> value="<?php echo $k;?>"
         ><?php echo $k;?> - <?php echo $f;?></option>
<?php
}
?>
      </select>
      <label for="desde">Desde:</label>
      <input type="text" name="desde" id="desde" class="focus" value="<?php echo $desde;?>" tabindex="1" />
      <label for="hasta">Hasta:</label>
      <input type="text" name="hasta" id="hasta" value="<?php echo $hasta;?>" tabindex="2" />
      <label for="titulo">Título etiqueta:</label>
      <input type="text" name="titulo" id="titulo" value="<?php echo $titulo;?>" tabindex="3" />
      <a href="<?php echo Atomik::url('/articulos'); ?>" class="new-win">[Ver artículos]</a>
      <div>
        <br />
        <input type="submit" value="Imprimir" />
      </div>
    </form>
  </div>
</div>
<div id="right-column">
  <strong class="h">INFO</strong>
  <div class="box">Impresión de etiquetas</div>
</div>
