<div id="left-column">
  <h3>Items</h3>
  <ul class="nav">
<?php
    $this->item_menu('Inicio');
?>
  </ul>
</div>
<div id="center-column">
  <div class="top-bar">
    <h1>Imprimir</h1>
    <div class="breadcrumbs">
      &gt; <a href="<?php echo Atomik::url('/');?>">Inicio</a>
      &gt; <a href="<?php echo Atomik::url('/dispositivos');?>">Dispositivos</a>
      &gt; <a href="<?php echo Atomik::url('/imprimirProd/'.$id);?>">Imprimir orden</a>
    </div>
  </div>
  <div>
    <h3>
      <?php echo $id;?>
      -
      <?php echo $impresora['Descripcion'];?>
    </h3>
    <form method="post" class="alta no-enter">
      <select name="dispositivo" id="dispositivo" tabindex="0">
<?php
foreach($dispositivos as $dis) {
  $sel = $dis['id'] == $id? ' selected="selected"': '';
?>
        <option<?php echo $sel; ?> value="<?php echo $dis['id']; ?>"
         ><?php echo $dis['id'] . ' - ' . $dis['descr']; ?></option>
<?php
}
?>
      </select>
      <label for="orden">Orden prod:</label>
      <input type="text" name="orden" id="orden" class="focus" tabindex="0"
       value="<?php echo $orden;?>" />
      <label for="sector">Sector:</label>
      <input type="text" name="sector" id="sector" tabindex="1"
       value="<?php echo $sector;?>" />
      <label for="producto">Producto:</label>
      <input type="text" name="producto" id="producto" tabindex="2"
       value="<?php echo $producto;?>" />
      <a href="<?php echo Atomik::url('/articulos'); ?>" class="new-win">[Ver artículos]</a>
      <label for="cantidad">Cantidad:</label>
      <input type="text" name="cantidad" id="cantidad" tabindex="3"
       value="<?php echo $cantidad;?>" />
      <div>
        <br />
        <input type="submit" value="Imprimir" tabindex="4" />
      </div>
    </form>
  </div>
</div>
<div id="right-column">
  <strong class="h">INFO</strong>
  <div class="box">Impresión de orden de producción</div>
</div>
