<div id="left-column">
  <h3>Items</h3>
  <ul class="nav">
<?php
    $this->item_menu('Inicio');
?>
  </ul>
</div>
<div id="center-column">
  <div class="top-bar">
    <h1>Imprimir</h1>
    <h3>En construcción</h3>
    <h4>Usar con precaución y avisar a los administradores del sistema en caso de fallo.</h4>
    <div class="breadcrumbs">
      &gt; <a href="<?php echo Atomik::url('/'); ?>">Inicio</a>
      &gt; <a href="<?php echo Atomik::url('/imprSueltos'); ?>">Imprimir salteadas</a>
    </div>
  </div>
  <div id="imprSueltos">
    <form method="post" class="alta">
        <h3>Impresión</h3>
        <label for="impresora">Impresora</label>
        <select name="impresora" id="impresora">
<?php
foreach($dispositivos as $dis) {
  $sel = $dis['id'] == $impr? ' selected="selected"': '';
?>
          <option<?php echo $sel; ?> value="<?php echo $dis['id']; ?>"
           ><?php echo $dis['id'] . ' - ' . $dis['descr']; ?></option>
<?php
}
?>
        </select>
        <label for="formato">Formato de impresión</label>
        <select name="formato" id="formato">
<?php
foreach($formatos as $k=>$f) {
  $def = $k == $formato? ' selected="selected"': '';
?>
          <option<?php echo $def;?> value="<?php echo $k;?>"
           ><?php echo $k;?> - <?php echo $f;?></option>
<?php
}
?>
        </select>
        <label for="titulo">Título de las etiquetas</label>
        <input type="text" id="titulo" name="titulo"
         value="<?php echo $titulo;?>" />
        <a href="<?php echo Atomik::url('/articulos'); ?>" class="new-win">[Ver artículos]</a>
        <label for="imprimir">Etiquetas</label>
        <textarea name="etiquetas" id="etiquetas"><?php echo $etiquetas;?></textarea>
        <br />
        <cite>Colocar cada número de etiqueta, uno bajo el otro.</cite>
        <br />
        <input type="submit" name="imprimir" id="imprimir" value="Imprimir" />
    </form>
  </div>
</div>
<div id="right-column">
  <strong class="h">INFO</strong>
  <div class="box">Impresión de etiquetas salteadas</div>
</div>
