<div id="left-column">
  <h3>Items</h3>
  <ul class="nav">
<?php
      $this->item_menu('Inicio');
?>
  </ul>
  <!--
  <a href="#" class="link">Link here</a>
  <a href="#" class="link">Link here</a>
  -->
</div>
<div id="center-column">
  <div class="top-bar">
    <!-- <a href="#" class="button">ADD NEW </a> -->
    <h1>Inicio</h1>
    <!--div class="breadcrumbs"><a href="#">Incicio</a> / <a href="#">Contents</a></div-->
    <div class="breadcrumbs">&gt; <a href="<?php echo Atomik::url('/');?>">Inicio</a></div>
  </div><br />
  <p>
    Bienvenido a <?php echo A('company');?>
    <br />
  </p>
  <img width="600" src="<?php echo Atomik::url('/assets/images/');?>ambassador_fueguina.jpg" />
</div>
<div id="right-column">
  <strong class="h">INFO</strong>
  <div class="box">
    Bienvenido
<?php
if (!$this->logged()) {
?>
    <form method="post" id="login">
      <label for="email">Email</label>
      <input type="text" id="email" name="email" value="<?php echo $email?>" />
      <label for="pass">Contraseña</label>
      <input type="password" id="pass" name="pass" />
      <p>
        <input type="submit" value="Ingresar" />
      </p>
    </form>
<?php
}
?>
  </div>
</div>
