  <div id="left-column">
    <h3>Items</h3>
    <ul class="nav">
<?php
      $this->item_menu('Inicio');
?>
    </ul>
  </div>
  <div id="center-column">
    <div class="top-bar">
      <h1>Limpiar intercambio</h1>
      <div class="breadcrumbs">
        &gt; <a href="<?php echo Atomik::url('/');?>">Inicio</a>
        &gt; <a href="<?php echo Atomik::url('/limpiarInt');?>">Limpiar intercambio</a>
      </div>
    </div>
    <form method="post">
      <label for="fecha">Hasta el día (sin incluir)</label>
      <input type="text" class="fecha-nerda" name="fecha" id="fecha" value="<?php echo$fecha;?>" />
      <div>
        <input type="submit" value="Enviar" />
      </div>
      <cite>
        Primero se mostrarán la cantidad de registros para la fecha dada, luego se solicitará confirmación para borrar dichos registros.
      </cite>
    </form>
<?php
if (isset($conteo)) {
?>
    <form method="post">
      <input type="hidden" name="conteo" value="<?php echo $conteo[0]['conteo'];?>" />
      <input type="hidden" name="fecha" value="<?php echo$fecha;?>" />
      Cantidad de registros hasta esa fecha (sin incluir): <?php echo $conteo[0]['conteo'];?>
      <p>
        Confirma borrar estos registros:
        <input type="checkbox" value="1" name="confirma" />
      </p>
      <div>
        <input type="submit" value="Confirmar" />
      </div>
    </form>
<?php
}
?>
  </div>
  <div id="right-column">
    <strong class="h">INFO</strong>
    <div class="box">
      Limpiar tabla de intercambio
    </div>
  </div>
