<?php
if($isNotXls) {
?>
  <div id="left-column">
    <h3>Items</h3>
    <ul class="nav">
<?php
      $this->item_menu('Inicio');
?>
    </ul>
  </div>
  <div id="center-column">
    <div class="top-bar">
      <h1>Estado 5</h1>
      <div class="breadcrumbs">
        &gt; <a href="<?php echo Atomik::url('/');?>">Inicio</a>
        &gt; <a href="<?php echo Atomik::url('/pendientesProd');?>">Órdenes pendientes</a>
      </div>
    </div>
    <br />
    <a href="<?php echo Atomik::url('/pendientesProd.xls');?>"
     title="Excel"><img src="<?php echo Atomik::appAsset('/assets/images/excel_icon.gif');?>" alt="Excel" /></a>
<?php
}
if (isset($rs))
  if (!isset($rs[0])) {
?>
    <p>No hay registros disponibles.</p>
<?php
  }
  else {
    if($isNotXls) {
?>
    <div>
<?php
    }
?>
  <table>
    <tr>
      <th>&nbsp;</th>
<?php
  foreach ($rs[0] as $k=>$col) {
    if (!is_numeric($k)) {
?>
      <th><?php echo $k;?></th>
<?php
    }
  }
?>
    </tr>
<?php
  $i = 1;
  foreach ($rs as $s) {
?>
    <tr>
      <th><?php echo $i++;?></th>
<?php
    foreach ($s as $k=>$col) {
      if (!is_numeric($k)) {
        if ($k == 'Saldo') {
?>
          <td align="right"><?php echo round($col);?></td>
<?php
        }
        elseif ($k == 'Fecha') {
          $fecha = DateTime::createFromFormat('Y-m-d H:i:s.u', $col);
          $col = $fecha->format('d-m-Y H:i:s');
?>
          <td><?php echo $col;?></td>
<?php
        }
        else {
?>
          <td><?php echo $col;?></td>
<?php
        }
      }
    }
?>
    </tr>
<?php
  }
?>
  </table>
<?php
  if($isNotXls) {
?>
    </div>
<?php
  }
}
if($isNotXls) {
?>
  </div>
  <div id="right-column">
    <strong class="h">INFO</strong>
    <div class="box">Órdenes de producción pendientes</div>
  </div>
<?php
}
?>
