﻿<?php
if($isNotXls) {
?>
  <div id="left-column">
    <h3>Items</h3>
    <ul class="nav">
<?php
      $this->item_menu('Inicio');
?>
    </ul>
    <!--
    <a href="#" class="link">Link here</a>
    <a href="#" class="link">Link here</a>
    -->
  </div>
  <div id="center-column">
    <div class="top-bar">
      <!-- <a href="#" class="button">ADD NEW </a> -->
      <h1>Parte de producción</h1>
      <!--div class="breadcrumbs"><a href="#">Incicio</a> / <a href="#">Contents</a></div-->
      <div class="breadcrumbs">
        &gt; <a href="<?php echo Atomik::url('/');?>">Inicio</a>
        &gt; <a href="<?php echo Atomik::url('/pproduccion');?>">Parte de producción</a>
      </div>
    </div><br />
    <a href="<?php echo Atomik::url('/pproduccion-'.$fecha1.'-'.$fecha2.'.xls');?>"
     title="Excel"><img src="<?php echo Atomik::appAsset('/assets/images/excel_icon.gif');?>" alt="Excel" /></a>
    <form>
      <label for="fecha1">Fecha desde (incluida):</label>
      <input type="text" class="fecha-nerda" name="fecha1" id="fecha1" value="<?php echo $fecha1;?>" />
      <label for="fecha2">Fecha hasta (incluida):</label>
      <input type="text" class="fecha-nerda" name="fecha2" id="fecha2" value="<?php echo $fecha2;?>" />
      <input type="submit" value="Enviar" />
      <br />
      <cite>Fechas en formato aaaammdd</cite>
    </form>
<?php
}
?>
<table>
  <tr>
    <th>Fecha inicio:</th>
    <th><?php echo $fecha1;?></th>
    <th></th>
    <th>Fecha fin:</th>
    <th><?php echo $fecha1;?></th>
  </tr>
  <tr>
    <th>c&oacute;digo</th>
    <th>nombre</th>
    <th>armados</th>
    <th>embalados</th>
    <th>transferidos</th>
  </tr>
<?php
$armados = $embalados = $transferidos = 0;
foreach ($articulos as $articulo) {
  $armados += $articulo['armados'];
  $embalados += $articulo['embalados'];
  $transferidos += $articulo['transferidos'];
?>
  <tr>
    <td><?php echo $articulo['codigo'];?></td>
    <td><?php echo htmlentities($articulo['nombre'], ENT_COMPAT, 'UTF-8');?></td>
    <td><?php echo $articulo['armados'];?></td>
    <td><?php echo $articulo['embalados'];?></td>
    <td><?php echo $articulo['transferidos'];?></td>
  </tr>
<?php
}
?>
  <tr>
    <th>Totales</th>
    <th>&nbsp;</th>
    <th><?php echo $armados;?></th>
    <th><?php echo $embalados;?></th>
    <th><?php echo $transferidos;?></th>
  </tr>
  <tr>
    <th>Cantidad prod. final</th>
    <th>con errores de sistema</th>
    <th><?php echo $erres[0]['cant'];?></th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>
</table>
<?php
if($isNotXls) {
?>
  </div>
  <div id="right-column">
    <strong class="h">INFO</strong>
    <div class="box">Parte de producción por fecha</div>
  </div>
<?php
}
