  <div id="left-column">
    <h3>Items</h3>
    <ul class="nav">
<?php
      $this->item_menu('Inicio');
?>
    </ul>
  </div>
  <div id="center-column">
    <div class="top-bar">
      <h1>Serie final</h1>
      <div class="breadcrumbs">
        &gt; <a href="<?php echo Atomik::url('/');?>">Inicio</a>
        &gt; <a href="<?php echo Atomik::url('/serieFinal');?>">Serie final</a>
<?php
if ($serie != '') {
?>
        &gt; <a href="<?php echo Atomik::url('/serieFinal/'.$serie);?>"><?php echo $serie;?></a>
<?php
}
?>
      </div>
    </div>
    <form>
      <label for="serie">Número de serie:</label>
      <input type="text" class="focus" name="serie" id="serie" value="<?php echo $serie;?>" />
      <input type="submit" value="Enviar" />
    </form>
<?php
if (isset($series))
  if (!isset($series[0])) {
?>
    <p>No hay registros para ese número de serie.</p>
<?php
  }
  else {
?>
    <div id="serie-final">
  <table>
    <tr>
      <th>&nbsp;</th>
<?php
  foreach ($series[0] as $k=>$col) {
    if (!is_numeric($k)) {
?>
      <th><?php echo $k;?></th>
<?php
    }
  }
?>
    </tr>
<?php
  $i = 1;
  foreach ($series as $s) {
?>
    <tr>
      <th><?php echo $i++;?></th>
<?php
    foreach ($s as $k=>$col) {
      if (!is_numeric($k)) {
?>
        <td><?php echo $col;?></td>
<?php
      }
    }
?>
    </tr>
<?php
  }
?>
  </table>
    </div>
<?php
}
?>
  </div>
  <div id="right-column">
    <strong class="h">INFO</strong>
    <div class="box">Series finales según tabla de intercambio</div>
  </div>
