  <div id="left-column">
    <h3>Items</h3>
    <ul class="nav">
<?php
      $this->item_menu('Inicio');
?>
    </ul>
  </div>
  <div id="center-column">
    <div class="top-bar">
      <h1>Serie y OP</h1>
      <div class="breadcrumbs">
        &gt; <a href="<?php echo Atomik::url('/');?>">Inicio</a>
        &gt; <a href="<?php echo Atomik::url('/serieOP');?>">Serie y OP</a>
<?php
if ($serie != '') {
?>
        &gt; <a href="<?php echo Atomik::url('/serieOP/'.$serie);?>"><?php echo $serie;?></a>
<?php
  if ($dias != '') {
?>
        &gt; <a href="<?php echo Atomik::url('/serieOP/'.$serie.'/'.$dias);?>"><?php echo $dias;?> día(s)</a>
<?php
  }
}
?>
      </div>
    </div>
    <form class="small-inputs">
      <label for="serie">Número de serie:</label>
      <input type="text" class="focus" name="serie" id="serie" value="<?php echo $serie;?>" />
      <label for="dias">Cantidad de días alrededor:</label>
      <input type="text" name="dias" id="dias" value="<?php echo $dias;?>" />
      <input type="submit" value="Enviar" />
    </form>
<?php
if (isset($series))
  if (!isset($series[0])) {
?>
    <p>No hay registros para ese número de serie.</p>
<?php
  }
  else {
?>
    <div id="serie-final">
  <table>
    <tr>
<?php
    foreach ($series[0] as $k=>$col) {
      if (!is_numeric($k)) {
?>
        <th><?php echo $k;?></th>
<?php
      }
    }
?>
    </tr>
<?php
    foreach ($series as $s) {
?>
      <tr>
<?php
      foreach ($s as $k=>$col) {
        if (!is_numeric($k)) {
          if (strpos($k, 'fecha') === 0) {
            $fecha = DateTime::createFromFormat('Y-m-d H:i:s.u', $col);
            $col = $fecha->format('d-m-Y H:i:s');
          }
?>
            <td><?php echo $col;?></td>
<?php
        }
      }
?>
      </tr>
<?php
    }
?>
    </table>
<?php
    if (isset($comprobantes[0])) {
?>
      <table>
        <tr>
<?php
      foreach ($comprobantes[0] as $k=>$col) {
        if (!is_numeric($k)) {
?>
          <th><?php echo $k;?></th>
<?php
        }
      }
?>
        </tr>
<?php
      foreach ($comprobantes as $s) {
?>
        <tr>
<?php
        foreach ($s as $k=>$col) {
          if (!is_numeric($k)) {
            if (strpos($k, 'fecha') === 0) {
              $fecha = DateTime::createFromFormat('Y-m-d H:i:s.u', $col);
              $col = $fecha->format('d-m-Y H:i:s');
            }
?>
              <td><?php echo $col;?></td>
<?php
          }
        }
?>
        </tr>
<?php
      }
?>
      </table>
<?php
    }
?>
    </div>
<?php
  }
?>
  </div>
  <div id="right-column">
    <strong class="h">INFO</strong>
    <div class="box">Número de serie con su posible orden de producción</div>
  </div>
