<?php
if($isNotXls) {
?>
  <div id="left-column">
    <h3>Items</h3>
    <ul class="nav">
<?php
      $this->item_menu('Inicio');
?>
    </ul>
  </div>
  <div id="center-column">
    <div class="top-bar">
      <h1>Últimos producidos</h1>
      <div class="breadcrumbs">
        &gt; <a href="<?php echo Atomik::url('/');?>">Inicio</a>
        &gt; <a href="<?php echo Atomik::url('/ultimos');?>">Últimos producidos</a>
      </div>
    </div><br />
    <a href="<?php echo Atomik::url('/ultimos/'.$n.'.xls');?>"
     title="Excel"><img src="<?php echo Atomik::appAsset('/assets/images/excel_icon.gif');?>" alt="Excel" /></a>
    <form>
      <label for="n">Cantidad:</label>
      <input type="text" class="focus" name="n" id="n" value="<?php echo $n;?>" />
      <input type="submit" value="Enviar" />
    </form>
<?php
}
?>
<?php
  if (!isset($ultimos[0])) {
    if($isNotXls) {
?>
      <p>No hay registros.</p>
<?php
    }
  }
  else {
    if($isNotXls) {
?>
    <div>
<?php
    }
?>
  <table>
    <tr>
      <th>&nbsp;</th>
      <th>IDIntercambio</th>
      <th>Emisión</th>
      <th>Orden</th>
      <th>dato02</th>
      <th>dato03</th>
      <th>dato04</th>
      <th>dato05</th>
      <th>Serie<th>
    </tr>
<?php
  $i = 0;
  foreach ($ultimos as $s) {
    $fecha = DateTime::createFromFormat('Y-m-d H:i:s.u', $s['fecemi']);
    if ($isNotXls)
      $s['serie'] = '<a href="'.Atomik::url('/artProducido/'.$s['serie']).'">'.$s['serie'].'</a>';
?>
    <tr>
      <th><?php echo ++$i;?></th>
      <td><?php echo $s['idintercambio'];?></td>
      <td><?php echo $fecha->format('d-m-Y H:i');?></td>
      <td><?php echo $s['orden'];?></td>
      <td><?php echo $s['dato02'];?></td>
      <td><?php echo $s['dato03'];?></td>
      <td><?php echo $s['dato04'];?></td>
      <td><?php echo $s['dato05'];?></td>
      <td><?php echo $s['serie'];?></td>
    </tr>
<?php
  }
?>
  </table>
<?php
    if($isNotXls) {
?>
    </div>
<?php
    }
  }
if($isNotXls) {
?>
  </div>
  <div id="right-column">
    <strong class="h">INFO</strong>
    <div class="box">Listado de últimos productos terminados</div>
  </div>
<?php
}
?>
