  <div id="left-column">
    <h3>Items</h3>
    <ul class="nav">
<?php
      $this->item_menu('Inicio');
?>
    </ul>
  </div>
  <div id="center-column">
    <div class="top-bar">
      <h1>Usuarios</h1>
      <div class="breadcrumbs">
        &gt; <a href="<?php echo Atomik::url('/');?>">Inicio</a>
        &gt; <a href="<?php echo Atomik::url('/usuarios');?>">Usuarios</a>
<?php
if ($id) {
?>
        &gt; <a href="<?php echo Atomik::url('/usuario?id='.$id);?>">Editar</a>
<?php
}
else {
?>
        &gt; <a href="<?php echo Atomik::url('/usuario');?>">Agregar</a>
<?php
}
?>
      </div>
    </div>
    <form method="post" class="alta">
<?php
if ($id !== FALSE) {
?>
      <input type="hidden" name="id" value="<?php echo $id;?>" />
<?php
}
?>
      <div>
        <label for="email">* Email:</label>
        <input type="text" name="email" id="email" value="<?php echo $email;?>" />
      </div>
      <div>
        <label for="email">Usuario:</label>
        <input type="text" name="username" id="username" value="<?php echo $username;?>" />
      </div>
      <div>
        <label for="pass">* Contraseña:</label>
        <input type="password" name="pass" id="pass" />
      </div>
      <div>
        <label for="repass">* Confirmar contraseña:</label>
        <input type="password" name="repass" id="repass" />
      </div>
      <div>
        <label for="name">Nombre:</label>
        <input type="text" name="name" id="name" value="<?php echo $name;?>" />
      </div>
      <div>
        <label for="type">Tipo:</label>
        <select name="type" id="type">
<?php
foreach ($types as $v=>$t) {
  $sel = $t == $type? ' selected="selected"': '';
?>
          <option<?php echo $sel;?> value="<?php echo $t;?>"><?php echo $v;?></option>
<?php
}
?>
        </select>
      </div>
      <div>
        <label for="active">Activo:</label>
        <input type="checkbox" value="1" name="active" id="active"<?php if ($active) echo ' checked="checked"';?> />
      </div>
      <cite>
        * Campos obligatorios
      </cite>
      <div>
        <input type="submit" value="Enviar" />
      </div>
    </form>
  </div>
  <div id="right-column">
    <strong class="h">INFO</strong>
    <div class="box">
<?php
if ($id) {
?>
      Editar usuario
<?php
}
else {
?>
      Agregar usuario
<?php
}
?>
    </div>
  </div>
