<?php
$webRoot = Atomik::url('/');
$fecha = date('Ymd', time()-86400); // 86400 segundos = 1 día
?>
  <div id="left-column">
    <h3>Items</h3>
    <ul class="nav">
<?php
      $this->item_menu('Inicio');
?>
    </ul>
  </div>
  <div id="center-column">
    <div class="top-bar">
<?php
if (A('session/user/type') == A('auth/userTypes/admin')) {
?>
      <a href="<?php echo $webRoot;?>usuario" class="button">Agregar</a>
<?php
}
?>
      <h1>Usuarios</h1>
      <div class="breadcrumbs">
        &gt; <a href="<?php echo $webRoot;?>">Inicio</a>
        &gt; <a href="<?php $webRoot;?>usuarios">Usuarios</a>
      </div>
    </div>
    <div id="pproduccion-titulo">
      <a href="<?php echo $webRoot.'pproduccion-'.$fecha.'-'.$fecha.'.xls';?>"
       title="Parte de producción de ayer en Excel">Parte de producción de ayer en Excel</a>
      <a href="<?php echo $webRoot.'pproduccion-'.$fecha.'-'.$fecha.'.xls';?>"
       title="Parte de producción de ayer en Excel"
       ><img src="<?php echo Atomik::appAsset('/assets/images/excel_icon.gif');?>" alt="Excel" /></a>
    </div>
<table>
  <tr>
    <th>email</th>
    <th>usuario</th>
    <th>nombre</th>
    <th>tipo</th>
    <th>&nbsp;</th>
  </tr>
<?php
foreach ($usuarios as $usuario) {
?>
  <tr>
    <td><?php echo $usuario['email'];?></td>
    <td><?php echo $usuario['username'];?></td>
    <td><?php echo $usuario['name'];?></td>
    <td>
<?php
switch ($usuario['type']) {
  case A('auth/userTypes/admin'):
    echo 'admin';
    break;
  case A('auth/userTypes/usuario'):
    echo 'usuario';
    break;
  case A('auth/userTypes/visor'):
    echo 'visor';
    break;
}
?>
    </td>
    <td>
      <a href="<?php echo $webRoot.'usuario/'.$usuario['id'];?>" title="editar"
       /><img src="<?php echo Atomik::appAsset('/assets/images/edit-icon.gif');?>" alt="editar" /></a>
    </td>
  </tr>
<?php
}
?>
</table>
  </div>
  <div id="right-column">
    <strong class="h">INFO</strong>
    <div class="box">Listado de usuarios</div>
  </div>
